*{
    box-sizing : border-box;
    border:0;
    padding:0;
    margin:0;
}
header{
    background-color:white;
    text-align:center;
}
h1{
    font-size:48px;
    padding:30px;
}
h1 + p{
    padding-bottom:20px;
}
ul{
    background-color:rgb(50,50,50);
    height:40px; 
    overflow:hidden;
    text-align:left;

}
li{
    display:inline;
}
li a{
    color:white;
    padding:16px 18px;
    text-decoration:none;
    text-align:center;
    line-height:40px;
}
li a:hover{
    background-color:gray;
}
.leftcolumn{
    float:left;
    width:75%;

}
.rightcolumn{
    float:left;
    width:25%;
    padding-left:20px;
}
.fakeimg{
    background-color:aquamarine;
    width:90%;
    height:75px;
    margin:20px;
}
.row::after{
    content:"";
    display:table;
    clear:both;
}
.card{
    background-color:white;
    padding:20px;
    margin:20px;
    border-radius:10px;
}
body{
    background-color:rgb(241, 234, 211);
}
footer{
    text-align:center;
    background-color:white;
    padding:50px 20px;
    margin:20px;
}