p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
    padding-top: 60px;
    padding-left: 72px;
    padding-right: 10px;
    background-color: rgb(250, 248, 248);
}