.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 50px;
    background-color: white;
    width: 52px;
    padding: 0;
    z-index: 5;
}

.sidebar-link {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(228, 228, 228);
}

.sidebar-link img {
    height: 18px;
    margin-bottom: 2px;
}

.sidebar-link p {
    font-family: Roboto, Arial;
    font-size: 8px;
    text-align: center;
}