

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 15px;
}
@media (max-width:500px){
    .video-grid{
        grid-template-columns: 1fr;
    }
}
@media (min-width:501px) and (max-width:799px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:800px) and (max-width:1099px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width:1100px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.thumbnail{
    width: 100%;
    border-radius:5px;
}
.video-author,
.video-stats{
    font-size: 12px;
    color: rgb(96,96,96);
}
.video-author{
    margin-bottom: 6px;
}

.video-info-grid{
    display: grid;
    grid-template-columns:30px 1fr;
}
.channel-image{
    vertical-align: top;
}
.profile-picture{
    width: 100%;
    border-radius: 50px;
}
.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight:500;
    line-height:20px;
    margin-bottom: 12px;
}
.video-info{
    width: 96%;
    margin-left:4%;
}
.thumbnail-row{
    margin-bottom: 10px;
    position: relative;
}

.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    padding: 2px;
}